input {
  display: block;
  width: 100%;
}
textarea {
  height: 25em;
  width: 100%;
}
.controls {
  width: 100%;
}
.results {
  margin-top: 1em;
  width: 100%;
}
.half {
  text-align: center;
  width: 50%;
}
.left {
  float: left;
}
.right {
  float: right;
}